._ {
  --ttl-h: 0;

  &:has(.title) {
    --ttl-h: 13;
  }

  .b {
    --ppct: calc(var(--pct) * 1%);
    --bgc: var(--c-bg-empty-fill);
    --fillc: black;
    --icoc: var(--fillc);
  }

  &.sz1 {
    .b {
      flex-direction: row;
    }

    .value.lbl {
      display: none;
    }

    .title {
      height: var(--h-px);
      max-width: calc(100% - var(--h-px));
      padding-left: 5px;

      .lbl:last-child {
        display: block;
        font-size: 9px;
        height: 9px;
      }
    }

    &:has(.full):has(.ico) {
      --c-bg: var(--fillc);

      .ico {
        --icoc: #fff;
      }
    }
  }

  &.sz2 {
    --v-lbl-px: 12px;
  }

  &.sz3 {
    --v-lbl-px: 18px;
  }

  &:not(&.sz1) {
    &:has(.title) {
      .chart-crop {
        --ch: calc(var(--h) - var(--ttl-h));
        --scl: calc(var(--ch) / var(--h));
        width: calc(var(--h-px) * var(--scl));
        height: calc(var(--ch) * 1px);
      }

      .chart {
        transform: scale(var(--scl));
        transform-origin: top left;
      }
    }

    &:not(:has(.full)):has(.ico):has(.value) {
      .ico {
        & svg {
          height: calc(var(--h-px) / 4);
          margin-top: calc(var(--h-px) / -2.75);
        }
      }
    }
  }

  .title {
    height: calc(var(--ttl-h) * 1px);

    .lbl {
      flex-grow: 0;
    }
  }

  .value {
    &.lbl {
      width: var(--h-px);
      & span {
        border-radius: 5px;
        padding: 0 1px;
        letter-spacing: -0.05em;
        font-weight: 500;
        font-size: var(--v-lbl-px);
      }
    }
  }

  .chart {
    --ch: var(--h);

    position: relative;
    width: var(--h-px);
    flex-shrink: 0;
  }

  .fill {
    position: absolute;

    width: var(--h-px);
    height: var(--h-px);

    border-radius: var(--h-px);
    background: var(--f);
    background-size: 100% 100%;

    --m: radial-gradient(
      transparent calc((var(--h-px) - (var(--s) * 2px)) * 0.5),
      #000 0
    );
    -webkit-mask: var(--m);
    mask: var(--m);

    // &::after {
    //   content: "";
    //   position: absolute;

    //   --ss: calc(var(--s) * 1px);
    //   --sh: calc(var(--h-px) - (var(--ss) * 2));

    //   top: var(--ss);
    //   left: var(--ss);
    //   width: var(--sh);
    //   height: var(--sh);

    //   border-radius: 50%;
    //   background: var(--c-bg);
    // }
  }

  .ico {
    position: relative;
    height: var(--h-px);

    & svg {
      height: clamp(9px, calc(var(--h-px) / 2.5), 20px);
    }

    &.warning {
      margin-top: -1px;
    }
  }

  &:has(.ico) {
    .value {
      margin-top: calc(var(--h-px) / 9);
    }

    &:has(.full) {
      .value {
        display: none;
      }
    }
  }
}
