._ {
  --sc1: black;
  --sc2: transparent;

  --rad: 0;

  .b {
    --sc0: var(--sc1);
    --sc3: var(--sc2);

    height: 20px;
    padding: 0 5px;

    &.rd1 {
      --rad: 3px;
    }

    &.rd2 {
      --rad: 10px;
    }

    background-color: var(--sc2);
    border-radius: var(--rad);
    border: 1.5px solid var(--sc3);

    .lbl {
      color: var(--sc1);
    }

    & img {
      --c: var(--sc0);
      --wh: 13px;
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
}
