._ {
  --sc0: #000;
  --sc1: #000;
  --sc2: #fff;
  --sc3: #000;

  --rad: 0;

  .body {
    height: 20px;
    padding: 0 5px;

    &.rd1 {
      --rad: 3px;
    }

    &.rd2 {
      --rad: 10px;
    }

    background-color: var(--sc2);
    border-radius: var(--rad);
    border: 1.5px solid var(--sc3);

    > .lbl {
      color: var(--sc1);
    }

    .ico {
      margin-right: 4px;

      & svg {
        height: 13px;
      }
    }
  }
}
