._ {
  font-size: 13px;

  --fs: 1em;
  --lc: 1;

  .txt {
    font-size: var(--fs);
    color: var(--c);
    line-height: 1.15;
    height: fit-content;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lc);
  }

  // & svg {
  //   height: 0.8em;
  //   vertical-align: middle;
  //   margin: -0.2em 0.2em 0 0;
  // }

  & svg {
    height: var(--ih);
    vertical-align: middle;
    margin: -0.2em 0.2em 0 0;
  }

  //////////

  &.sz1 {
    &:is(.tm, .mm, .rm) .txt {
      text-align: center;
    }

    :is(.fxlg, .fxxlg) {
      --fs: 1.35em;
    }
    .fxsm {
      --lc: 2;
    }
  }

  &.sz2 {
    .txt {
      display: -webkit-box;
      white-space: normal;
    }

    --lc: 2;

    .fxsm {
      --lc: 4;
    }

    .fsm {
      --lc: 3;
    }
  }

  &.sz3 {
    .txt {
      display: -webkit-box;
      white-space: normal;
    }

    --lc: 4;

    .fxsm {
      --lc: 5;
    }

    .fsm {
      --lc: 4;
    }

    .flg {
      --lc: 3;
    }

    .fxlg {
      --lc: 2;
    }
  }

  :is(.flg, .fxlg, .fxxlg) {
    font-weight: 300;
  }

  .fxsm {
    --fs: 0.65em;
  }

  .fsm {
    --fs: 0.75em;
  }

  .fmd {
    --fs: 1em;
  }

  .flg {
    --fs: 1.35em;
  }

  .fxlg {
    --fs: 1.85em;
  }

  .fxxlg {
    --fs: 2.5em;
  }

  .fxlg,
  .fxxlg {
    --lc: 1;

    .txt {
      display: block !important;
      white-space: nowrap !important;
    }
  }

  &:is(.tr, .mr, .rr) .txt {
    text-align: right;
  }

  &:is(.tm, .mm, .rm, .tr, .mr, .rr) .txt {
    padding: 0;
    text-indent: 0;
  }
}
