.TextDesign {
  .body {
    width: 100%;
  }

  .lbl {
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    text-align: left;
    -webkit-line-clamp: 1;
  }

  &.sz2 .lbl {
    -webkit-line-clamp: 2;
  }

  &.sz3 .lbl {
    -webkit-line-clamp: 3;
  }

  .body {
    &.fnt-md .lbl,
    &.fnt-lg .lbl,
    &.fnt-xlg .lbl {
      -webkit-line-clamp: 1;
      font-weight: 300;
    }

    &.fnt-md .lbl {
      font-size: 24px;
    }

    &.fnt-lg .lbl {
      font-size: 32px;
    }

    &.fnt-xlg .lbl {
      font-size: 40px;
    }
  }

  &.tm,
  &.mm,
  &.rm {
    .lbl {
      text-align: center;
    }
  }

  &.tr,
  &.mr,
  &.rr {
    .lbl {
      text-align: right;
    }
  }

  svg.icn {
    vertical-align: text-top;
    margin-right: 2px;
    --icn-sz: 14px;
    width: var(--icn-sz);
    max-width: var(--icn-sz);
    max-height: var(--icn-sz);
    fill: var(--fill);
  }
}
