@use "./theme" as theme;

// Firefox fix
@-moz-document url-prefix() {
  :root:not(:is(.interactive)) {
    --vw-100: 50vw !important;
  }
}

:root {
  --vw-100: 100vw;
  --max-vw: min(var(--cw-px), var(--vw-100));

  // Theme Vars
  @each $key, $val in theme.$vars {
    // prettier-ignore
    --c-#{$key}:#{$val};
  }

  // Theme Colors
  @each $theme-color in theme.$colors {
    $i: index(theme.$colors, $theme-color);
    // prettier-ignore
    --c-t#{$i}:#{$theme-color};
  }

  // Adjust the vertical gap to scale up/down depending on canvas width
  --vgap: clamp(5px, calc(var(--max-vw) * 0.05), 20px);
  --hgap: 10px;

  // Default Font Settings
  color: var(--c-txt);
  font-size: 12px;
  line-height: 1;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

svg > foreignObject {
  width: var(--max-vw);
  & > div {
    width: var(--max-vw);
  }
}
