.c {
  container-name: c;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  flex: 1 1 0;
  height: 100%;
  min-width: max(20px, var(--mw, 20px));

  // A 'weak' component that doesn't expand beyond it's needs
  &.wk {
    max-width: max-content;
  }

  > .body,
  > .b {
    max-width: 100%;
    container-type: normal;
  }
}

.cfill {
  flex-grow: 9999;
}
