.c {
  flex-grow: 1;
  height: 100%;
  min-width: 20px;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-right: 5px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .body {
    max-width: 100%;
  }
}

.cfill {
  flex-grow: 9999;
}
