c {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  flex: 1 1 0;
  height: 100%;
  min-width: max(20px, var(--mw, 20px));

  &:not(:last-of-type) {
    margin-right: var(--gap, var(--vgap));
  }

  // A 'weak' component that doesn't expand beyond it's needs
  &.wk {
    max-width: max-content;
  }

  // Body
  > b {
    font-weight: 400;
    max-width: 100%;
    container-type: normal;
    display: block;
  }
}
