*,
*::before,
*::after {
  box-sizing: border-box;

  // Tells browsers to print with BGs
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

b {
  font-weight: 600;
}

.tcd,
div.tc span,
span.tc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 100%;
  width: max-content;
}

.sz1 {
  // prettier-ignore
  --bdy-h:20px;
}

.sz2 {
  // prettier-ignore
  --bdy-h:40px;
}

.sz3 {
  // prettier-ignore
  --bdy-h:60px;
}

.sz1 .h-sz1,
.sz2 .h-sz2,
.sz3 .h-sz3 {
  display: none !important;
}

.fx,
.fxc,
.fxr {
  display: flex;
}
.fxc {
  flex-direction: column;
}
.fxr {
  flex-direction: row;
}
.fg {
  flex-grow: 1;
}
.fwnw {
  flex-wrap: nowrap;
}
.aifs {
  align-items: flex-start;
}
.aic {
  align-items: center;
}
.aife {
  align-items: flex-end;
}

.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
.vatb {
  vertical-align: text-bottom;
}
.vatt {
  vertical-align: text-top;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.wsnp {
  white-space: nowrap;
}
.w1,
.w1h1 {
  width: 100%;
}
.h1,
.w1h1 {
  height: 100%;
}
.hpx {
  height: var(--h-px);
}
.chpx {
  height: var(--ch-px);
}
.ctis {
  container-type: inline-size;
}
.pa,
.pal,
.pat,
.pab {
  position: absolute;
}
.pal,
.pat {
  left: 0;
}
.pat,
.patl {
  top: 0;
}

.pab {
  bottom: 0;
}
//
.tl,
.tm,
.tr {
  justify-content: flex-start;
}
.ml,
.mm,
.mr {
  justify-content: center;
}
.bl,
.bm,
.br {
  justify-content: flex-end;
}
.tl,
.ml,
.bl {
  align-items: flex-start;
}
.tm,
.mm,
.bm {
  align-items: center;
}
.tb,
.mb,
.br {
  align-items: flex-end;
}

foreignObject > div.ctn {
  row-gap: var(--hgap);
}
