*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // Tells browsers to print with BGs
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

p,
.tcd,
.tc span,
span.tc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 100%;
  width: max-content;
}

.sz1 {
  --bdy-h: 20px;
}

.sz2 {
  --bdy-h: 40px;
}

.sz3 {
  --bdy-h: 60px;
}

.sz1 .h-sz1,
.sz2 .h-sz2,
.sz3 .h-sz3 {
  display: none !important;
}

.fx,
.fxc,
.fxr {
  display: flex;
}
.fxc {
  flex-direction: column;
}
.fxr {
  flex-direction: row;
}
.fg {
  flex-grow: 1;
}
.fwnw {
  flex-wrap: nowrap;
}
.jcsb {
  justify-content: space-between;
}
.vatb {
  vertical-align: text-bottom;
}
.vatt {
  vertical-align: text-top;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.wsnp {
  white-space: nowrap;
}
.w1,
.w1h1 {
  width: 100%;
}
.h1,
.w1h1 {
  height: 100%;
}
.hpx {
  height: var(--h-px);
}
.chpx {
  height: var(--ch-px);
}
.ctis {
  container-type: inline-size;
}
.pr {
  position: relative;
}
.pa,
.pal,
.pat,
.pab {
  position: absolute;
}
.pal,
.pat {
  left: 0;
}
.pat,
.patl {
  top: 0;
}
.pab {
  bottom: 0;
}

/////
.jcfs,
.tl,
.tm,
.tr {
  justify-content: flex-start;
}

.jcc,
.ml,
.mm,
.mr {
  justify-content: center;
}

.jcfe,
.bl,
.bm,
.br {
  justify-content: flex-end;
}

.aifs,
.tl,
.ml,
.bl {
  align-items: flex-start;
}

.aic,
.tm,
.mm,
.bm,
:is(.tm, .mm, .bm) .b.aa {
  align-items: center;
}

.aife,
.tr,
.mr,
.br,
:is(.tr, .mr, .br) .b.aa {
  align-items: flex-end;
}

foreignObject > div.ctn {
  row-gap: var(--hgap);
}

p {
  margin: 0;
  padding: 0;
  display: inline-block;
}
