@use "slds" as slds;

p,
.lbl {
  color: slds.$palette-neutral-40;
  line-height: 1.15;
}

.title {
  max-width: 100%;

  :is(p, .lbl) {
    margin-top: -2px;
    flex-shrink: 1;
    flex-grow: 1;

    &.pct {
      flex-shrink: 0;
    }
  }
}

// Weak styles
.wk .title {
  max-width: fit-content;
}

sup {
  font-size: 0.8em;
  line-height: 1.4;
  vertical-align: text-top;
  margin-right: -0.1em;
}

sub {
  font-size: 0.7em;
  vertical-align: baseline;
}

.pct sub {
  margin-left: 0.05em;
}
