@use "slds" as slds;

l {
  color: slds.$palette-neutral-40;
  line-height: 1.15;
}

t {
  max-width: 100%;

  & l {
    margin-top: -2px;
    flex-shrink: 1;
    flex-grow: 1;

    &pct {
      flex-shrink: 0;
    }
  }
}

// Weak styles
.wk t {
  max-width: fit-content;
}

cur::before,
sup {
  font-size: 0.8em;
  line-height: 1.4;
  vertical-align: text-top;
  margin-right: -0.1em;
}

cur {
  &[d] {
    --d: attr(d);
  }
  &[n]::before {
    --n: "-";
  }

  &::before {
    content: var(--n, "") var(--d, "$");
  }

  &[u]::after {
    content: attr(u);
  }
}

pct::after,
cur::after,
sub {
  font-size: 0.7em;
  vertical-align: baseline;
}

pct::after {
  content: "%";
  margin-left: 0.05em;
}
