$palette-blue-10: #001639;
$palette-blue-15: #03234d;
$palette-blue-20: #032d60;
$palette-blue-30: #014486;
$palette-blue-40: #0b5cab;
$palette-blue-50: #0176d3;
$palette-blue-60: #1b96ff;
$palette-blue-65: #57a3fd;
$palette-blue-70: #78b0fd;
$palette-blue-80: #aacbff;
$palette-blue-90: #d8e6fe;
$palette-blue-95: #eef4ff;
$palette-cloud-blue-10: #001a28;
$palette-cloud-blue-15: #0a2636;
$palette-cloud-blue-20: #023248;
$palette-cloud-blue-30: #084968;
$palette-cloud-blue-40: #05628a;
$palette-cloud-blue-50: #107cad;
$palette-cloud-blue-60: #0d9dda;
$palette-cloud-blue-65: #08abed;
$palette-cloud-blue-70: #1ab9ff;
$palette-cloud-blue-80: #90d0fe;
$palette-cloud-blue-90: #cfe9fe;
$palette-cloud-blue-95: #eaf5fe;
$palette-green-10: #071b12;
$palette-green-15: #0c2912;
$palette-green-20: #1c3326;
$palette-green-30: #194e31;
$palette-green-40: #396547;
$palette-green-50: #2e844a;
$palette-green-60: #3ba755;
$palette-green-65: #41b658;
$palette-green-70: #45c65a;
$palette-green-80: #91db8b;
$palette-green-90: #cdefc4;
$palette-green-95: #ebf7e6;
$palette-hot-orange-10: #281202;
$palette-hot-orange-15: #421604;
$palette-hot-orange-20: #4a2413;
$palette-hot-orange-30: #7e2600;
$palette-hot-orange-40: #aa3001;
$palette-hot-orange-50: #d83a00;
$palette-hot-orange-60: #ff5d2d;
$palette-hot-orange-65: #ff784f;
$palette-hot-orange-70: #ff906e;
$palette-hot-orange-80: #feb9a5;
$palette-hot-orange-90: #ffded5;
$palette-hot-orange-95: #fef1ed;
$palette-indigo-10: #200647;
$palette-indigo-15: #1f0974;
$palette-indigo-20: #321d71;
$palette-indigo-30: #2f2cb7;
$palette-indigo-40: #3a49da;
$palette-indigo-50: #5867e8;
$palette-indigo-60: #7f8ced;
$palette-indigo-65: #8e9bef;
$palette-indigo-70: #9ea9f1;
$palette-indigo-80: #bec7f6;
$palette-indigo-90: #e0e5f8;
$palette-indigo-95: #f1f3fb;
$palette-orange-10: #201600;
$palette-orange-15: #371e03;
$palette-orange-20: #3e2b02;
$palette-orange-30: #5f3e02;
$palette-orange-40: #825101;
$palette-orange-50: #a96404;
$palette-orange-60: #dd7a01;
$palette-orange-65: #f38303;
$palette-orange-70: #fe9339;
$palette-orange-80: #ffba90;
$palette-orange-90: #fedfd0;
$palette-orange-95: #fff1ea;
$palette-pink-10: #370114;
$palette-pink-15: #4b0620;
$palette-pink-20: #61022a;
$palette-pink-30: #8a033e;
$palette-pink-40: #b60554;
$palette-pink-50: #e3066a;
$palette-pink-60: #ff538a;
$palette-pink-65: #fe7298;
$palette-pink-70: #fe8aa7;
$palette-pink-80: #fdb6c5;
$palette-pink-90: #fddde3;
$palette-pink-95: #fef0f3;
$palette-purple-10: #240643;
$palette-purple-15: #300b60;
$palette-purple-20: #401075;
$palette-purple-30: #5a1ba9;
$palette-purple-40: #7526e3;
$palette-purple-50: #9050e9;
$palette-purple-60: #ad7bee;
$palette-purple-65: #b78def;
$palette-purple-70: #c29ef1;
$palette-purple-80: #d7bff2;
$palette-purple-90: #ece1f9;
$palette-purple-95: #f6f2fb;
$palette-red-10: #300c01;
$palette-red-15: #4a0c04;
$palette-red-20: #640103;
$palette-red-30: #8e030f;
$palette-red-40: #ba0517;
$palette-red-50: #ea001e;
$palette-red-60: #fe5c4c;
$palette-red-65: #fe7765;
$palette-red-70: #fe8f7d;
$palette-red-80: #feb8ab;
$palette-red-90: #feded8;
$palette-red-95: #fef1ee;
$palette-teal-10: #071b12;
$palette-teal-15: #072825;
$palette-teal-20: #023434;
$palette-teal-30: #024d4c;
$palette-teal-40: #056764;
$palette-teal-50: #0b827c;
$palette-teal-60: #06a59a;
$palette-teal-65: #03b4a7;
$palette-teal-70: #01c3b3;
$palette-teal-80: #04e1cb;
$palette-teal-90: #acf3e4;
$palette-teal-95: #def9f3;
$palette-violet-10: #2e0039;
$palette-violet-15: #3d0157;
$palette-violet-20: #481a54;
$palette-violet-30: #730394;
$palette-violet-40: #9602c7;
$palette-violet-50: #ba01ff;
$palette-violet-60: #cb65ff;
$palette-violet-65: #d17dfe;
$palette-violet-70: #d892fe;
$palette-violet-80: #e5b9fe;
$palette-violet-90: #f2defe;
$palette-violet-95: #f9f0ff;
$palette-yellow-10: #281202;
$palette-yellow-15: #2e2204;
$palette-yellow-20: #4f2100;
$palette-yellow-30: #6f3400;
$palette-yellow-40: #8c4b02;
$palette-yellow-50: #a86403;
$palette-yellow-60: #ca8501;
$palette-yellow-65: #d79304;
$palette-yellow-70: #e4a201;
$palette-yellow-80: #fcc003;
$palette-yellow-90: #f9e3b6;
$palette-yellow-95: #fbf3e0;
$palette-neutral-10: #181818;
$palette-neutral-15: #242424;
$palette-neutral-20: #2e2e2e;
$palette-neutral-30: #444;
$palette-neutral-40: #5c5c5c;
$palette-neutral-50: #747474;
$palette-neutral-60: #939393;
$palette-neutral-65: #a0a0a0;
$palette-neutral-70: #aeaeae;
$palette-neutral-80: #c9c9c9;
$palette-neutral-90: #e5e5e5;
$palette-neutral-95: #f3f3f3;
$palette-neutral-100: #fff;

$neutral-base-100: #fff;
$neutral-base-95: #f3f3f3;
$neutral-base-90: #e5e5e5;
$neutral-base-80: #c9c9c9;
$neutral-base-70: #aeaeae;
$neutral-base-65: #a0a0a0;
$neutral-base-60: #939393;
$neutral-base-50: #747474;
$neutral-base-40: #5c5c5c;
$neutral-base-30: #444;
$neutral-base-20: #2e2e2e;
$neutral-base-15: #242424;
$neutral-base-10: #181818;
$brand-base-100: #fff;
$brand-base-95: #eef4ff;
$brand-base-90: #d8e6fe;
$brand-base-80: #aacbff;
$brand-base-70: #78b0fd;
$brand-base-65: #57a3fd;
$brand-base-60: #1b96ff;
$brand-base-50: #0176d3;
$brand-base-40: #0b5cab;
$brand-base-30: #014486;
$brand-base-20: #032d60;
$brand-base-15: #03234d;
$brand-base-10: #001639;
$error-base-100: #fff;
$error-base-90: #feded8;
$error-base-80: #feb8ab;
$error-base-70: #fe8f7d;
$error-base-60: #fe5c4c;
$error-base-50: #ea001e;
$error-base-40: #ba0517;
$error-base-30: #8e030f;
$error-base-20: #640103;
$error-base-10: #300c01;
$warning-base-100: #fff;
$warning-base-90: #fedfd0;
$warning-base-80: #ffba90;
$warning-base-70: #fe9339;
$warning-base-60: #dd7a01;
$warning-base-50: #a96404;
$warning-base-40: #825101;
$warning-base-30: #5f3e02;
$warning-base-20: #3e2b02;
$warning-base-10: #201600;
$success-base-100: #fff;
$success-base-90: #cdefc4;
$success-base-80: #91db8b;
$success-base-70: #45c65a;
$success-base-60: #3ba755;
$success-base-50: #2e844a;
$success-base-40: #396547;
$success-base-30: #194e31;
$success-base-20: #1c3326;
$success-base-10: #071b12;
$border-base-1: #c9c9c9;
$border-base-2: #aeaeae;
$border-base-3: #939393;
$border-base-4: #747474;
$border-brand-1: #78b0fd;
$border-brand-2: #1b96ff;
