@import "../common/MiniChartsDesign";

svg.theme-1 #fillGradient stop:nth-child(1) {
  stop-color: $lwc-chartGreen;
}

svg.theme-1 #fillGradient stop:nth-child(2) {
  stop-color: $lwc-chartRed;
}

.sparkline path {
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;

  &.filled {
    fill: black;
    opacity: 0.2;
    stroke: none !important;
  }

  &.purple {
    stroke: $lwc-chartPurple;

    &.filled {
      fill: $lwc-chartPurple;
    }
  }

  &.blue {
    stroke: $lwc-chartBlue;

    &.filled {
      fill: $lwc-chartBlue;
    }
  }

  &.green {
    stroke: $lwc-chartGreen;

    &.filled {
      fill: $lwc-chartGreen;
    }
  }

  &.red {
    stroke: $lwc-chartRed;

    &.filled {
      fill: $lwc-chartRed;
    }
  }

  &.yellow {
    stroke: $lwc-chartYellow;

    &.filled {
      fill: $lwc-chartYellow;
    }
  }

  &.red-to-green {
    stroke: url(#fillGradient);

    &.filled {
      fill: url(#fillGradient);
      // opacity: 0.5;
    }
  }

  fill: none;
}

line {
  stroke: black;
  opacity: 0.75;
  stroke-width: 0.25;
  // stroke-dasharray: 1;
}
