._ {
  --d-title-height: 0px;
  --d-icon-spacing: 0.2;

  &:has(t) {
    --d-title-height: 13px;
  }

  --d-container-height: calc(var(--h-px) - var(--d-title-height));
  --d-max-icon-height: min(40px, var(--h-px));

  container-type: inline-size;

  & b {
    --bgc: var(--c-bg-empty-fill);
    // --d-fill-color: #3296ed;
    --d-fill-color: linear-gradient(
      to right,
      var(--c-t3) 0px,
      var(--c-t1) 100%
    );

    width: 100%;

    ._icon-label-wrapper > l {
      width: 100%;
      max-width: 42px;
      // font-size: 13px;
      // letter-spacing: -0.4px;
      margin: 0 0 0 3px;
      text-overflow: clip;
      // font-weight: 600;

      &:not(pct) {
        @container (max-width: 75px) {
          display: none;
        }
      }

      &pct {
        max-width: 30px;
        @container (max-width: 65px) {
          display: none;
        }
      }
    }

    & t {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: calc(var(--h-px) - var(--d-container-height));

      & l {
        & :first-of-type {
          padding-right: 1ch;
        }

        & :last-of-type {
          flex-shrink: 0;
          text-align: right;
        }
      }
    }
  }

  ._container {
    container-type: inline-size;

    // Units Wide measured in Height
    --d-height-in-width-units: calc(
      var(--d-icon-count) + ((var(--d-icon-count) - 1) * var(--d-icon-spacing))
    );
    --d-icon-height: max(
      7px,
      min(
        var(--d-max-icon-height),
        min(
          calc(100cqw / var(--d-height-in-width-units)),
          var(--d-container-height)
        )
      )
    );

    overflow: hidden;
    position: relative;

    ._icons {
      --gap: calc(var(--d-icon-height) * var(--d-icon-spacing));
      --d-icon-height-with-gap: calc(var(--d-icon-height) + var(--gap));
      --d-icon-width: calc(
        (var(--d-icon-count) * var(--d-icon-height)) +
          ((var(--d-icon-count) - 1) * var(--gap))
      );

      --d-empty-space: calc(
        ((var(--d-value) + var(--d-value-remainder)) * var(--d-icon-height)) +
          (var(--d-value) * var(--gap))
      );

      &._horizontal-fill {
        --d-empty-space: calc(
          var(--d-icon-height) + (var(--d-value) * var(--d-icon-height)) +
            (var(--d-value) * var(--gap))
        );
      }

      --d-empty-space-min: min(var(--d-icon-width), var(--d-empty-space));
      --d-empty-space-height: calc(
        100% - var(--d-empty-space) + var(--d-icon-height) + var(--gap)
      );

      height: var(--d-icon-height);
      width: calc(
        (var(--d-icon-height-with-gap) * var(--d-icon-count)) - var(--gap)
      );

      --d-empty-fill-gradient: linear-gradient(var(--bgc), var(--bgc));
      background: var(--d-empty-fill-gradient), var(--d-empty-fill-gradient),
        var(--d-fill-color);
      background-size: 0, calc(100% - var(--d-empty-space-min)), 100%;

      &.hfill {
        background-size: var(--d-empty-space-height)
            calc(100% - (var(--d-value-remainder) * 100%)),
          calc(100% - var(--d-empty-space-min)), 100%;
      }

      background-repeat: no-repeat;
      background-position: top right;

      -webkit-mask-image: var(--d-mask-image);
      -webkit-mask-size: var(--d-icon-height-with-gap) var(--d-icon-height);
      -webkit-mask-repeat: repeat no-repeat;
    }
  }

  & b:has(t) {
    --d-title-height: 13px;
    ._icon-label-wrapper > l {
      display: none;
    }
  }
}
