._ {
  --ttl-h: 0px;
  --spacing: 0.2;

  &:has(.title) {
    --ttl-h: 13px;
  }

  --bar-height: calc(var(--h-px) - var(--ttl-h));
  --max-icoh: var(--h-px);

  container-type: inline-size;

  .b {
    width: 100px;
    container-type: normal;

    --bgc: var(--c-bg-empty-fill);
    // --fillc: #3296ed;
    --fillc: linear-gradient(to right, var(--c-t3) 0px, var(--c-t1) 100%);

    width: 100%;
    // height: var(--h-px);

    .bwrap {
      // height: var(--icoh);

      & > .lbl {
        width: 100%;
        max-width: 42px;
        // font-size: 13px;
        // letter-spacing: -0.4px;
        margin: 0 0 0 3px;
        text-overflow: clip;
        // font-weight: 600;

        &:not(.pct) {
          @container (max-width: 75px) {
            display: none;
          }
        }

        &.pct {
          max-width: 30px;
          @container (max-width: 65px) {
            display: none;
          }
        }
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: calc(var(--h-px) - var(--bar-height));

      .lbl:not(:last-of-type) {
        padding-right: 1ch;
      }
    }
  }

  .bar {
    container-type: inline-size;
    // Height Units Wide
    --hUW: calc(var(--ic) + ((var(--ic) - 1) * var(--spacing)));
    --icoh: max(
      7px,
      min(var(--max-icoh), min(calc(100cqw / var(--hUW)), var(--bar-height)))
    );

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    .icons {
      --gap: calc(var(--icoh) * var(--spacing));
      --icg: calc(var(--icoh) + var(--gap));
      --w: calc((var(--ic) * var(--icoh)) + ((var(--ic) - 1) * var(--gap)));

      --emptySize: min(
        var(--w),
        calc(
          ((var(--val) + var(--val-p)) * var(--icoh)) +
            (var(--val) * var(--gap))
        )
      );

      height: var(--icoh);
      width: calc(var(--icg) * var(--ic) - var(--gap));

      background: linear-gradient(
          to right,
          transparent var(--emptySize),
          var(--bgc) var(--emptySize)
        ),
        var(--fillc);

      // --mi gets passed in
      -webkit-mask-image: var(--mi);
      mask-image: var(--mi);

      --ms: var(--icg) var(--icoh);
      -webkit-mask-size: var(--ms);
      mask-size: var(--ms);

      --mr: repeat no-repeat;
      -webkit-mask-repeat: var(--mr);
      mask-repeat: var(--mr);
    }
  }

  .value {
    flex-shrink: 0;
  }

  .b:has(.title) {
    --ttl-h: 13px;
    .bwrap {
      & > .lbl {
        display: none;
      }
    }
  }
}
