._ {
  --d-title-height: 0px;
  --d-x-label-height: 0px;
  --d-y-label-width: 0px;

  &:has(t) {
    --d-title-height: 13px;
  }
  &:has(t[s="sm"]) {
    --d-title-height: 11px;
  }

  &:has(._x-labels) {
    --d-x-label-height: 11px;
  }
  &:has(._y-labels) {
    --d-y-label-width: 32px;
  }

  --d-graph-height: calc(
    var(--h-px) - var(--d-title-height) - var(--d-x-label-height)
  );

  & b {
    width: 100%;

    & t {
      height: var(--d-title-height);

      & l:first-of-type {
        padding-right: 1ch;
      }
    }

    .graph {
      position: relative;
      height: var(--d-graph-height);
      container-type: size;
    }

    ._x-labels {
      font-size: 8px;
      height: var(--d-x-label-height);
      margin-left: var(--d-y-label-width);
    }

    ._y-labels {
      font-size: 8px;
      height: var(--d-graph-height);

      & l {
        width: var(--d-y-label-width);
        padding-right: 2px;
        text-align: right;
      }
    }
  }

  &.sz1:has(t),
  &.sz1:has(._x-labels) {
    --d-y-label-width: 0px;
    ._y-labels {
      display: none;
    }
  }

  &.sz1:has(t) {
    --d-x-label-height: 0px;
    ._x-labels {
      display: none;
    }
  }

  // Hide middle y label when there are 3 on compact sizes
  &.sz1,
  &.sz2:has(t):has(._x-labels) {
    ._y-labels l:first-child:nth-last-child(3) + l {
      display: none;
    }
  }

  @container (max-width: 70px) {
    & b {
      --d-y-label-width: 0px;

      ._y-labels {
        display: none;
      }
    }
  }
}
