._ {
  --d-title-height: 0px;

  &:has(t) {
    --d-title-height: 13px;
  }

  --d-graph-height: calc(var(--h-px) - var(--d-title-height));

  & b {
    width: 100%;
    height: var(--h-px);

    & t {
      height: var(--d-title-height);

      & l:first-of-type {
        padding-right: 1ch;
      }
    }
  }

  .graph {
    position: relative;
    height: var(--d-graph-height);
    container-type: size;
  }
}
