.GaugeDesign {
  --h-px2: calc(var(--h-px) * 2);

  --ttl-h: 0px;

  &:has(.title) {
    --ttl-h: 14px;
  }

  --bar-thck: 5px;

  .b {
    --bgc: var(--c-bg-empty-fill); //#f1f1f0;
    --fillc: #3296ed;
    // --fillc: linear-gradient(to right, red, blue);

    .title {
      height: calc(var(--h-px) - 0px - var(--b-lbl-h));
      color: #595959;
    }
  }

  .value.lbl {
    width: var(--h-px2);
  }

  .g {
    line {
      stroke: var(--sc, var(--c-bg));
      stroke-width: var(--sw);
    }

    path {
      fill: none;
      stroke-width: var(--s);
      stroke: var(--bgc);
    }

    line,
    .empty {
      transform: rotate(calc(var(--pct) * 1.8deg));
      transform-origin: center bottom;

      // animation: GaugeDesign-fill 0.5s;
      // @keyframes GaugeDesign-fill {
      //   0% {
      //     transform: none;
      //   }
      // }
    }
  }

  foreignObject {
    width: var(--h-px2);
    height: var(--h-px);
  }

  .fill {
    --sh: calc(var(--h-px2) - 0.2px);
    width: var(--sh);
    height: var(--sh);
    margin: 0.1px 0 0 0.1px;

    border-radius: 50%;
    background: var(--f);

    &::after {
      content: "";
      position: absolute;

      --ss: calc((var(--s) - 0.1) * 1px);
      --sh: calc(var(--h-px2) - (var(--ss) * 2));

      top: var(--ss);
      left: var(--ss);
      width: var(--sh);
      height: var(--sh);

      border-radius: 50%;
      background: var(--c-bg);
    }
  }
}
