.GaugeDesign {
  // VARS TO BE PASSED IN
  .b {
    --bgc: var(--c-bg-empty-fill); //#f1f1f0;
    --fillc: #3296ed;
    // --fillc: linear-gradient(to right, red, blue);
  }

  --h-px2: calc(var(--h-px) * 2);
  --ttl-h: 0;

  &:has(.title) {
    --ttl-h: 13;

    .chart-crop {
      --ch: calc(var(--h) - var(--ttl-h));
      --scl: calc(var(--ch) / var(--h));

      width: calc(var(--h-px2) * var(--scl));
      height: calc(var(--ch) * 1px);

      .chart {
        transform: scale(var(--scl));
        transform-origin: top left;
      }
    }
  }

  .title {
    height: calc(var(--ttl-h) * 1px);
    .lbl:last-child {
      display: none;
    }
  }

  .value.lbl {
    width: var(--h-px2);
    span {
      display: block;
      background: #fffd;
      border-radius: 10px 10px 0 0;
      padding: 0px 2px;
      font-size: var(--v-lbl-px);
    }
  }

  &.sz1 {
    --mw: var(--h-px2);
    --v-lbl-px: 8px;

    .b {
      display: flex;
    }

    &:has(.title) {
      .value.lbl {
        display: none;
      }
      .chart-crop {
        --ch: var(--h);
      }
    }

    .title {
      height: var(--h-px);
      max-width: calc(100% - var(--h-px2));
      padding-left: 10px;
      box-sizing: border-box;

      .lbl:last-child {
        display: block;
        font-size: 9px;
        height: 9px;
      }
    }
    .chart {
      transform: none;
    }

    .value.lbl span {
      border-radius: 5px 5px 0 0;
      padding: 0 1px;
      letter-spacing: -0.05em;
      font-weight: 500;
    }
  }

  &.sz2 {
    --v-lbl-px: 15px;
  }

  &.sz3 {
    --v-lbl-px: 24px;
  }

  .g {
    line,
    .empty {
      transform: rotate(calc(var(--pct) * 1.8deg));
      transform-origin: center bottom;
    }

    line {
      &.target {
        --sw: calc(var(--gp) * 2);
        outline: var(--gp) solid white;
      }

      stroke: var(--sc, var(--c-bg));
      stroke-width: var(--sw, var(--gp));
    }

    path {
      fill: none;
      stroke-width: var(--s);
      stroke: var(--bgc);
    }
  }

  .fill {
    width: calc(var(--h-px2) - 0.2px);
    height: calc(var(--h-px) - 0.2px);
    margin: 0.1px 0 0 0.1px;

    border-radius: var(--h-px) var(--h-px) 0 0;
    background: var(--f);
    background-size: 100% 200%;

    &::after {
      content: "";
      position: absolute;

      --ss: calc((var(--s) - 0.1) * 1px);
      --sh: calc(var(--h-px2) - (var(--ss) * 2));

      top: var(--ss);
      left: var(--ss);
      width: var(--sh);
      height: var(--sh);

      border-radius: 50%;
      background: var(--c-bg);
    }
  }

  .chart {
    position: relative;
    height: var(--h-px);
    width: var(--h-px2);
  }
}
