._ {
  --d-total-height: 0px;
  --d-bottom-label-height: 0px;

  &:has(t) {
    --d-total-height: 13px;
  }

  &:has(._target) {
    &:not(:has(t)) {
      --d-bottom-label-height: 17px;

      &.sz1 {
        --d-bottom-label-height: 5px;

        ._target l {
          font-weight: 400;

          background: var(--d-target-bg-color);

          font-size: 7px;
          font-weight: 400;
          outline: 0.75px solid #fff;
          // height: 10px;
          padding: 0px 2px 1px 2px;
          border-radius: 2px;
        }
      }
    }
  }

  &:has(._target) {
    &:has(t) {
      &.sz1 {
        --d-bottom-label-height: 0px;
        ._target l {
          display: none;
        }
      }

      &.sz2 {
        --d-bottom-label-height: 8px;
      }

      &.sz3 {
        --d-bottom-label-height: 16px;
      }
    }
  }

  --d-bar-height: calc(
    var(--h-px) - var(--d-total-height) - var(--d-bottom-label-height)
  );
  --d-max-bar-height: var(--d-bar-height);

  // 18px; //

  // &.sz2 {
  //   --d-max-bar-height: 38px;
  // }

  // &.sz3 {
  //   --d-max-bar-height: 58px;
  // }

  & b {
    --bgc: var(--c-bg-empty-fill);
    --fillc: #3296ed;
    // --fillc: linear-gradient(to right, var(--c-t3) 0px, var(--c-t1) 100%);

    width: 100%;
    height: var(--h-px);

    ._bar-label-wrapper {
      height: var(--d-bar-height);

      & > l {
        width: 100%;
        max-width: 42px;
        margin: 0 0 0 3px;
        text-overflow: clip;

        &:first-of-type {
          margin: 0 3px 0 0;
        }

        // &:not(pct) {
        //   @container (max-width: 75px) {
        //     display: none;
        //   }
        // }

        // &pct {
        //   max-width: 30px;
        //   @container (max-width: 65px) {
        //     display: none;
        //   }
        // }
      }
    }

    & t {
      height: calc(
        var(--h-px) - var(--d-bar-height) - var(--d-bottom-label-height)
      );

      & l:first-of-type {
        padding-right: 1ch;
      }
    }
  }

  ._progress-bar {
    position: relative;
    min-width: 20px;
    max-height: var(--d-max-bar-height);

    ._fill {
      position: relative;
      height: var(--d-bar-height);

      --d-bar-radius: 0;

      &.round {
        --d-bar-radius: 9px;
      }

      &.ptrn {
        -webkit-mask-box-image: var(--svg-pattern);
        --d-bar-radius: 0;
      }

      border-radius: var(--d-bar-radius);
      background: var(--bgc);

      &::after {
        content: "";

        position: absolute;
        height: 100%;
        left: 0;
        width: var(--d-percent-value);
        border-radius: var(--d-bar-radius);
        background: var(--fillc);

        // background-image: var(--bgi-stripe);
      }
    }
  }

  ._target {
    --d-target-neg-value: calc(100 - var(--d-target-value));
    --d-target-percent: calc(var(--d-target-value) * 1%);
    --d-target-neg-percent: calc(100% - var(--d-target-percent));
    --d-target-bg-color: #757575;

    position: absolute;
    width: 100%;
    height: min(
      calc(var(--d-max-bar-height) + 16px),
      calc(var(--d-bar-height) + var(--d-bottom-label-height))
    );

    display: flex;
    align-items: flex-end;

    &:before {
      content: "";
      flex-shrink: clamp(0.1, var(--d-target-neg-value), 100);
      flex-basis: var(--d-target-percent);
      flex-grow: 0;
    }

    &:after {
      content: "";
      flex-shrink: clamp(0.1, var(--d-target-value), 100);
      flex-basis: var(--d-target-neg-percent);
      flex-grow: 0;
    }

    & l {
      position: relative;
      flex: 0 0 auto;
      background: var(--d-target-bg-color);
      color: #fff;
      font-size: 10px;
      outline: 1px solid #fff;
      padding: 0 3px 1px 3px;
      border-radius: 3px;
      z-index: 1;
    }

    & > d {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      left: calc(1% * var(--d-target-value));
      transform: translateX(-1px);
      background: #fff;
      border-right: 2px dashed var(--d-target-bg-color);
      outline: 1px solid #fff;
    }
  }

  & b:has(t) {
    --d-total-height: 13px;
    ._bar-label-wrapper {
      & > l {
        display: none;
      }
    }

    ._target::after {
      height: var(--d-bar-height);
    }
  }
}
